body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #0b1220;
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #0b1220, #112240);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 3.5rem;
}

.tag {
  background: #6c63ff;
  padding: 5px 12px;
  border-radius: 20px;
}

/* BOUTONS */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #6c63ff;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  transition: 0.3s;
}

.btn:hover {
  background: #574bff;
}

/* SECTIONS */
section {
  padding: 70px 20px;
  text-align: center;
}

/* SKILLS */
.skills-grid {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.skills-grid span {
  background: #112240;
  padding: 10px 15px;
  border-radius: 15px;
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.card {
  background: #112240;
  padding: 20px;
  border-radius: 15px;
}

/* CERTIFICATIONS */
.certif-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.certif-card {
  background: #112240;
  padding: 20px;
  border-radius: 15px;
}

.certif-card img {
  width: 80px;
}

/* CONTACT */
.contact {
  background: #0b1220;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #050b15;
}
