body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #937db3;
  color: white;
}

header {
  height: 100vh;
  background: linear-gradient(120deg, #2a374d, #546e80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  background: white;
  color: #0f172a;
  padding: 12px 25px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

section {
  padding: 80px 10%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #334155;
}

footer {
  text-align: center;
  padding: 30px;
  background: #020617;
}
